.App {
    position: relative;
    background: white;
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    font-family: 'Helvetica', sans-serif;
}

